.main {
    height: 100vh;
}

.sidebar {
    background: rgb(40, 40, 40);
    color: #fff;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px 10px;
}

.sidebar a:hover {
    background: rgb(3, 1, 119);
}

.active {
    background: rgb(3, 1, 119);
    border-right: solid 10px rgb(232, 153, 4);
}

.card-data {
    border: solid 1px;
    padding: 20px 50px;
    background-color: rgb(212, 2, 2);
    color: #fff;
}

.card-data.book{
    background-color: rgb(212, 2, 2);
}


.card-data.category{
    background-color: rgb(41, 164, 0);
}

.card-data.user{
    background-color: rgb(186, 174, 0);
}

.card-data i {
    font-size: 50px;
}

.card-desc {
    font-size: 30px;
}

.card-count {
    font-size: 20px;
}